
.icon-award:before { content: '\e800'; } /* '' */
.icon-right-open:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e801'; } /* '' */
.icon-add_cheio:before { content: '\e802'; } /* '' */
.icon-add_vazio:before { content: '\e803'; } /* '' */
.icon-namaste_cheio:before { content: '\e804'; } /* '' */
.icon-qr_vazio:before { content: '\e805'; } /* '' */
.icon-estrela_cheio:before { content: '\e806'; } /* '' */
.icon-sai_vazio:before { content: '\e807'; } /* '' */
.icon-volume-off:before { content: '\e808'; } /* '' */
.icon-estrela_vazio:before { content: '\e809'; } /* '' */
.icon-grupo_cheio:before { content: '\e80a'; } /* '' */
.icon-grupo_vazio:before { content: '\e80b'; } /* '' */
.icon-lua_cheio:before { content: '\e80c'; } /* '' */
.icon-setas_cheio:before { content: '\e80d'; } /* '' */
.icon-lua_vazio:before { content: '\e80e'; } /* '' */
.icon-bussola_cheio:before { content: '\e80f'; } /* '' */
.icon-bussola_vazio:before { content: '\e810'; } /* '' */
.icon-sai_cheio:before { content: '\e811'; } /* '' */
.icon-doacao_cheio:before { content: '\e812'; } /* '' */
.icon-editar_cheio:before { content: '\e813'; } /* '' */
.icon-setas_vazio:before { content: '\e814'; } /* '' */
.icon-sol_cheio:before { content: '\e815'; } /* '' */
.icon-doacao_vazio:before { content: '\e816'; } /* '' */
.icon-casa_vazio:before { content: '\e817'; } /* '' */
.icon-moeda_cheio:before { content: '\e818'; } /* '' */
.icon-moeda_vazio:before { content: '\e819'; } /* '' */
.icon-editar_vazio:before { content: '\e81a'; } /* '' */
.icon-engrenagem_cheio:before { content: '\e81b'; } /* '' */
.icon-engrenagem_vazio:before { content: '\e81c'; } /* '' */
.icon-envelope_cheio:before { content: '\e81d'; } /* '' */
.icon-entra_cheio:before { content: '\e81e'; } /* '' */
.icon-entra_vazio:before { content: '\e81f'; } /* '' */
.icon-envelope_vazio:before { content: '\e820'; } /* '' */
.icon-olho_fechado:before { content: '\e821'; } /* '' */
.icon-olho_aberto:before { content: '\e822'; } /* '' */
.icon-namaste_vazio:before { content: '\e823'; } /* '' */
.icon-lupa_cheio:before { content: '\e824'; } /* '' */
.icon-lupa_vazio:before { content: '\e825'; } /* '' */
.icon-logotipo_decoreba:before { content: '\e826'; } /* '' */
.icon-casa_cheio:before { content: '\e827'; } /* '' */
.icon-award-empty:before { content: '\e828'; } /* '' */
.icon-simbolo_decoreba:before { content: '\e829'; } /* '' */
.icon-qr_cheio:before { content: '\e82a'; } /* '' */
.icon-sol_vazio:before { content: '\e82b'; } /* '' */
.icon-info-circled:before { content: '\e82c'; } /* '' */
.icon-info:before { content: '\e82d'; } /* '' */
.icon-cancel-circled:before { content: '\e82e'; } /* '' */
.icon-logotipo_dekoreba:before { content: '\e82f'; } /* '' */
.icon-help:before { content: '\e830'; } /* '' */
.icon-help-circled:before { content: '\e831'; } /* '' */
.icon-award-1:before { content: '\e832'; } /* '' */
.icon-volume-up:before { content: '\e833'; } /* '' */
.icon-left-open-1:before { content: '\e834'; } /* '' */
.icon-right-open-1:before { content: '\e835'; } /* '' */
.icon-imagotipo:before { content: '\e836'; } /* '' */
.icon-imagotipo_cima:before { content: '\e837'; } /* '' */
.icon-logotipo:before { content: '\e838'; } /* '' */
.icon-isotipo:before { content: '\e839'; } /* '' */
.icon-right-open-2:before { content: '\e83a'; } /* '' */
.icon-left-open-2:before { content: '\e83b'; } /* '' */
.icon-ok:before { content: '\e83c'; } /* '' */
.icon-cancel:before { content: '\e83d'; } /* '' */
.icon-play:before { content: '\e83e'; } /* '' */
.icon-stop:before { content: '\e83f'; } /* '' */
.icon-play-outline:before { content: '\e840'; } /* '' */
.icon-stop-outline:before { content: '\e841'; } /* '' */
.icon-papiro:before { content: '\e842'; } /* '' */
.icon-up-open:before { content: '\e843'; } /* '' */
.icon-down-open:before { content: '\e844'; } /* '' */
.icon-award:before { content: '\e845'; } /* '' */
.icon-multiplas_escolhas:before { content: '\e846'; } /* '' */
.icon-escrever:before { content: '\e847'; } /* '' */
.icon-print:before { content: '\e848'; } /* '' */
.icon-volume:before { content: '\e849'; } /* '' */
.icon-training-icon:before { content: '\e854'; } /* '' */
.icon-training:before { content: '\e855'; } /* '' */
.icon-th-thumb:before { content: '\f00a'; } /* '' */
.icon-th-thumb-empty:before { content: '\f00b'; } /* '' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-linkedin-1:before { content: '\f0e1'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
